//  Primary
$primary: #3B5A9D;
$primary_hover: #2A3F6E;
$primary_disabled: #A9C2F9;
$secondary: #FFA633;
$secondary_hover: #C48072;
$secondary_disabled: #F9C47F;

//  Suport 
$green: #8CCB51;
$yellow: #F9EA47;
$red: #F44930;
$white: #F6F6F6;
$black: #1E1E1E;

//  Code


@font-face {
    font-family: 'belanosima-bold';
    src: url('../fonts/Belanosima-Bold.ttf');
}

@font-face {
    font-family: 'belanosima-reg';
    src: url('../fonts/Belanosima-Regular.ttf');
}

@font-face {
    font-family: 'belanosima-semi';
    src: url('../fonts/Belanosima-SemiBold.ttf');
}

@font-face {
    font-family: 'jost';
    src: url('../fonts/Jost-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'ubuntu-bold';
    src: url('../fonts/UbuntuMono-Bold.ttf');
}


@font-face {
    font-family: 'ubuntu-boldi';
    src: url('../fonts/UbuntuMono-BoldItalic.ttf');
}


@font-face {
    font-family: 'ubuntu-ita';
    src: url('../fonts/UbuntuMono-Italic.ttf');
}


@font-face {
    font-family: 'ubuntu-reg';
    src: url('../fonts/UbuntuMono-Regular.ttf');
}


@mixin shadow1{
    box-shadow: 0px 2px 4px rbga(0, 0, 0, 0.15);
}


@mixin red-bord{
    border: red dashed;
}

@mixin green-bord{
    border: green dashed;
}

.vertical-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;   
    a{
        text-decoration: none;
        color: $black;
    }
}

.right-align{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: flex-end;
    justify-content: center;
}

.horizontal-align{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}