@font-face {
  font-family: "belanosima-bold";
  src: url("../fonts/Belanosima-Bold.ttf");
}
@font-face {
  font-family: "belanosima-reg";
  src: url("../fonts/Belanosima-Regular.ttf");
}
@font-face {
  font-family: "belanosima-semi";
  src: url("../fonts/Belanosima-SemiBold.ttf");
}
@font-face {
  font-family: "jost";
  src: url("../fonts/Jost-VariableFont_wght.ttf");
}
@font-face {
  font-family: "ubuntu-bold";
  src: url("../fonts/UbuntuMono-Bold.ttf");
}
@font-face {
  font-family: "ubuntu-boldi";
  src: url("../fonts/UbuntuMono-BoldItalic.ttf");
}
@font-face {
  font-family: "ubuntu-ita";
  src: url("../fonts/UbuntuMono-Italic.ttf");
}
@font-face {
  font-family: "ubuntu-reg";
  src: url("../fonts/UbuntuMono-Regular.ttf");
}
.vertical-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.vertical-align a {
  text-decoration: none;
  color: #1E1E1E;
}

.right-align {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-end;
  justify-content: center;
}

.horizontal-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "belanosima-bold";
  src: url("../fonts/Belanosima-Bold.ttf");
}
@font-face {
  font-family: "belanosima-reg";
  src: url("../fonts/Belanosima-Regular.ttf");
}
@font-face {
  font-family: "belanosima-semi";
  src: url("../fonts/Belanosima-SemiBold.ttf");
}
@font-face {
  font-family: "jost";
  src: url("../fonts/Jost-VariableFont_wght.ttf");
}
@font-face {
  font-family: "ubuntu-bold";
  src: url("../fonts/UbuntuMono-Bold.ttf");
}
@font-face {
  font-family: "ubuntu-boldi";
  src: url("../fonts/UbuntuMono-BoldItalic.ttf");
}
@font-face {
  font-family: "ubuntu-ita";
  src: url("../fonts/UbuntuMono-Italic.ttf");
}
@font-face {
  font-family: "ubuntu-reg";
  src: url("../fonts/UbuntuMono-Regular.ttf");
}
.vertical-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.vertical-align a {
  text-decoration: none;
  color: #1E1E1E;
}

.right-align {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: flex-end;
  justify-content: center;
}

.horizontal-align {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  font-family: "jost";
  font-weight: 500;
  font-size: large;
  background-color: #3B5A9D;
  color: #F6F6F6;
  padding: 0.7rem 3.6rem;
  border-radius: 10px;
  border-top: 0;
  border-left: 0;
  border-right: 2px solid #2A3F6E;
  border-bottom: 2px solid #2A3F6E;
  box-shadow: 0px 2px 4px rbga(0, 0, 0, 0.15);
}

.btn-secondary {
  font-family: "jost";
  font-weight: 500;
  font-size: large;
  background-color: #F6F6F6;
  color: #FFA633;
  padding: 0.7rem 3.6rem;
  border-radius: 10px;
  border-top: 1px solid #FFA633;
  border-left: 1px solid #FFA633;
  border-right: 2px solid #FFA633;
  border-bottom: 2px solid #FFA633;
  box-shadow: 0px 2px 4px rbga(0, 0, 0, 0.15);
}

.code {
  background-color: #161B22;
  font-family: "ubuntu-reg";
  border: none;
  border-radius: 20px;
  overflow: hidden;
  min-width: 70%;
  min-height: 120px;
  color: #F6F6F6;
  padding: 1rem;
}

input {
  font-family: "jost";
  font-weight: 600;
  color: #1E1E1E;
  border: 2px solid #3B5A9D;
  min-height: 1.9rem;
  width: 30rem;
  border-radius: 5px;
  margin: 0 0 2rem 0;
}

.blue-square {
  margin: auto;
  padding: 2rem 3rem;
  border: 3px solid #3B5A9D;
  border-radius: 20px;
}

.language-btn {
  padding: 1rem;
  margin: 1rem;
}

.texto {
  font-family: "jost";
}

.fondo {
  background-repeat: repeat-x;
  position: fixed;
  width: 100%;
  margin-bottom: 0;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
}

html, body {
  background-color: #F6F6F6;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.nav-item {
  color: #1E1E1E;
  font-family: "jost";
  font-weight: 500;
  padding: 1rem;
}
.nav-item a {
  color: #1E1E1E;
  text-decoration: none;
}

.nav-item img {
  height: 2rem;
  width: auto;
  border-radius: 5px;
  margin: 0 1rem;
}

h1 {
  font-family: "jost";
  font-size: 2.5rem;
}

h3 {
  font-family: "jost";
  font-weight: 500;
}

.lp-container {
  margin: 5rem;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.language-logo {
  height: 6rem;
  width: auto;
  margin: 0 3rem;
}

.language-name {
  color: #1E1E1E;
  font-family: "jost";
  font-weight: 500;
}

.logo {
  height: 4rem;
}

.pfp {
  border-style: solid;
  border-color: #3B5A9D;
  border-radius: 100%;
  width: 15rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
}

footer {
  background-color: #3B5A9D;
  margin-top: auto;
  color: #F6F6F6;
  font-family: "jost";
  padding: 1rem 3rem;
}/*# sourceMappingURL=main.css.map */